# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Python
__pycache__/
*.pyc
.env
.venv
venv/
env/

# Mac
.DS_Store

# Packaged Lambda files
*.zip